$gutter: 1.1rem;

/* color */
$primary: darkgreen;
$secondary: lightgreen;
$error: #ec392f;
$backgroundColor: #fff;

/* field */
$fieldBoxShadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
$fieldPadding: 24px 16px 8px 16px;

/* font */
$fontSize: 1.1rem;
$fontSizeTiny: 0.65rem;
$fontFamily: "Gotham SSm A", "Gotham SSm B", sans-serif;

/* searchIcon */
$iconWidth: 30px;

/* app */
$appWidth: 700px;
