@use 'reset';
@use 'vars';

body {
  font-family: vars.$fontFamily;
  background-color: vars.$secondary;
  font-size: vars.$fontSize;
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
  background-position: center;
}
