@use 'src/styles/vars';

.app {
  max-width: vars.$appWidth;
  margin: 0 auto;
  background-color: vars.$backgroundColor;
  border: 1px solid vars.$primary;;
  box-shadow: 1px 1px 5px vars.$primary;
  min-height: 100vh;
}
