@use 'src/styles/vars';

.header {
  display: flex;
  background-color: transparent;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 1.15rem;
  text-shadow: 1px 1px 2px lighten(vars.$primary, 40);
  color: vars.$primary;
  height: 13vh;
  align-items: center;
  .header__logo {
    width: 75px;
    margin-right: vars.$gutter;
  }
  .header__slogan {
    padding: vars.$gutter;
  }
}
